[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-script = "*"
pymysql = "*"
requests = "*"
flask-apscheduler = "*"
flask-redis = "*"
flask-jwt-extended = "*"
marshmallow = "*"
concurrent-log-handler = "*"
pytest = "*"

[requires]
python_version = "3.7"
