[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
concurrent-log-handler = "*"
flask = "*"
flask-apscheduler = "*"
flask-jwt-extended = "*"
flask-migrate = "*"
flask-redis = "*"
flask-script = "*"
flask-sqlalchemy = "*"
marshmallow = "*"
pymysql = "*"
pytest = "*"
requests = "*"


[requires]
python_version = "3.7"
