# The MySQL  Client configuration file.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

[mysql]

[mysqld]
bind_address                   = 0.0.0.0
max_allowed_packet             = 16M
character_set_server           = utf8mb4
collation_server               = utf8mb4_general_ci